/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  color: rgb(3, 59, 15);
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(29,71,253,1) 50%, rgba(0,0,0,1) 100%); 
}
div {
  background-image: url(../shunya-koide-1emWndlDHs0-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 14%;
  height: 100vh;
background-repeat: no-repeat;
}

div h1{
  flex-basis: 100%;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
